<ion-view title="Apps" id="page2" style="background-color:#FFFFFF;">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-checkmark-circle"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <a class="list card manual-card-fullwidth" style="display:block;text-decoration:none;" href-inappbrowser="https://www.youtube.com/channel/UCbf9rD-zhfpYoLyvA2n629g?view_as=subscriber" id="apps-card23">
      <div class=" item item-image">
        <img src="img/TJWirTTStOLKXEjlBqrP_16-youtube-channels.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <a href-inappbrowser="https://www.youtube.com/channel/UCbf9rD-zhfpYoLyvA2n629g?view_as=subscriber" id="apps-button4" style="border-radius:3px 3px 3px 3px;" class="button button-royal button-small button-block icon-left ion-android-person-add">Subscribe Now</a>
    </a>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <ion-list id="apps-list1">
      <ion-item class="item-avatar item-icon-right balanced" id="apps-list-item1" href-inappbrowser="https://www.youtube.com/">
        <img src="img/OL0SvuRXG4pNWvAOoQA1_620153013432286.jpg">
        <h2balanced>اسماعيل يس
          <p style="white-space:normal;">كل افلام اسماعيل يس</p>
          <i class="icon ion-android-checkbox"></i>
        </h2balanced>
      </ion-item>
      <ion-item class="item-avatar item-icon-right assertive" id="apps-list-item2" href-inappbrowser="https://www.youtube.com/">
        <img src="img/Qw9GX5BAQoGExuGplVzE_1399134239.jpeg">
        <h2assertive>توفيق الدقن
          <p style="white-space:normal;">كل افلام توفيق الدقن</p>
          <i class="icon ion-android-checkbox"></i>
        </h2assertive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>